.container {
    padding-top: 10px;
    padding-bottom: 50px;
    /* border: 2px solid black; */
 }
 h1{
     /* background-color: blue; */
     color: black;
 }
 .form-wraper {
    max-width: 700px;
    margin: 25px auto 0;
    background-color: #f5f5f5;
    padding: 20px;
}